*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!build.sc
!README.md
build/
*/build/
.config
playground/include/config/
playground/include/generated/
playground/src/temp/

# vscode
.bloop/
.metals/
.vscode/
.ammonite/
metals.sbt

# mill
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
